@model EC.Entities.Entities.User

@{
    ViewBag.Title = "Редактирование профиля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-5">
    <h4 class="text-center text-warning" style="padding-top: 10%">Изменение пользователя</h4>
    @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { @class = "form-group", @novalidate = true, enctype = "multipart/form-data" }))
    {
        <div>
            @Html.TextBoxFor(user=>user.Login, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.Login),
                @type= "text",
                @required = true,
                @autofocus = true
            })
        </div>

        <div>
            @Html.TextBoxFor(user=>user.Email, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.Email),
                @type= "text",
                @required = true
            })
        </div>

        if (User.IsInRole("Admin"))
        {
            <div class="form-group row">
                <div class="form-check">
                    @Html.CheckBoxFor(user => user.IsDoctor, new { @class = "form-check-input" })
                    @Html.LabelFor(user => user.IsDoctor, "Доктор", new { @class = "form-check-label", @for = "IsDoctor" })
                </div>
            </div>

            <div class="form-group row">
                Выберете роль/ли
            </div>

            <div class="form-group row">
                <select class="js-example-basic-multiple form-control" style="width: 100%;" multiple="multiple" id="Roles" name="Roles">
                    @Html.Action("GetRolesForSelect", "Role")
                </select>
            </div>

            <div id="hidePatient" class="form-group row">
                <div class="form-group row">
                    Выберете пациентов
                </div>
                
                <select class="js-example-basic-multiple form-control" style="width: 100%;" multiple="multiple" id="Patients" name="Patients">
                    @Html.Action("GetListPatient", "User")
                </select>
            </div>

        }

        if ((bool)ViewBag.IsDoctor == false)
        {
            if (!User.IsInRole("Admin"))
            {
                @Html.CheckBoxFor(user => user.IsDoctor, new { @type = "hidden", @value = "false" })
            }

            <div>
                @Html.TextBoxFor(user=>user.Patient.FirstName, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Patient.FirstName),
                    @type= "text",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Patient.MiddleName, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Patient.MiddleName),
                    @type= "text",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Patient.LastName, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Patient.LastName),
                    @type= "text",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Patient.DateBirth, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Patient.DateBirth),
                    @type= "date",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Patient.PlaceWork, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Patient.PlaceWork),
                    @type= "text",
                    @required = true
                })
            </div>
        }
        else
        {
            if (!User.IsInRole("Admin"))
            {
                @Html.CheckBoxFor(user => user.IsDoctor, new { @type = "hidden", @value = "true" })
            }

            <div>
                @Html.TextBoxFor(user=>user.Doctor.FirstName, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Doctor.FirstName),
                    @type= "text",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Doctor.MiddleName, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Doctor.MiddleName),
                    @type= "text",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Doctor.LastName, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Doctor.LastName),
                    @type= "text",
                    @required = true
                })
            </div>

            <div>
                @Html.TextBoxFor(user=>user.Doctor.Position, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Doctor.Position),
                    @type= "text",
                    @required = true
                })
            </div>
        }

        <div id="ExtraPhonesContainer">
            <div class="ExtraPhones">
                @Html.TextBox("Phones[0].PhoneNumber", null, new
                {
                    @class = "form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Phones),
                    @type = "text",
                    @required = true
                })
            </div>
        </div>

        <br />

        <div id="addPhoneDynamic">
            @Html.TextBox("extraFieldAdd", "Добавить телефон", new { @class = "btn btn-lg btn-info col-sm-8", @type = "button" })
        </div>

        <br />

        <div class="text-left">
            <div class="form-group">
                @Html.Label("", "Выберите фото", new { @for = "Photo" })
                @Html.TextBoxFor(user => user.Photo, new
                {
                    @class = "form-control-file",
                    @type = "file"
                })
            </div>
        </div>

        <br />

        <div class="container">
            <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-lg btn-secondary btn-block" })
            @Html.ActionLink("Уже есть аккаунт? Войдите", "SignIn", "Auth")
            <p class="mt-5 mb-3 text-muted text-center">&copy; @DateTime.Now.Year</p>
        </div>
    }

</div>