@model EC.Web.Models.EditAccountModel

@{
    ViewBag.Title = "Редактирование аккаунта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" align="center">
    <div class="col-md-4">
        <h4 class="text-center text-warning" style="padding-top: 10%">Редактирование аккаунта</h4>
        @using (Html.BeginForm("EditAccount", "Auth", FormMethod.Post, new { @class = "form-group", @novalidate = true }))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.TextBoxFor(model => model.Login, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Login),
                })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.TextBoxFor(model => model.Email, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Email),
                })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.TextBoxFor(model => model.FirstName, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.FirstName),
                })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.TextBoxFor(model => model.MiddleName, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.MiddleName),
                })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @Html.TextBoxFor(model => model.LastName, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.LastName),
                })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            if (Model.IsDoctor)
            {
                @Html.CheckBoxFor(user => user.IsDoctor, new { @type = "hidden", @value = "true" })

                <div class="form-group row">
                    @Html.TextBoxFor(model => model.Position, new
                    {
                        @class = "form-control",
                        @placeholder = Html.DisplayNameFor(model => model.Position),
                    })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                @Html.CheckBoxFor(user => user.IsDoctor, new { @type = "hidden", @value = "false" })

                <div class="form-group row">
                    @Html.TextBoxFor(model => model.PlaceWork, new
                    {
                        @class = "form-control",
                        @placeholder = Html.DisplayNameFor(model => model.PlaceWork),
                    })
                    @Html.ValidationMessageFor(model => model.PlaceWork, "", new { @class = "text-danger" })
                </div>

                <div class="form-group row">
                    @Html.TextBoxFor(model => model.DateBirth, new
                    {
                        @class = "form-control",
                        @placeholder = Html.DisplayNameFor(model => model.DateBirth),
                        @type = "date"
                    })
                    @Html.ValidationMessageFor(model => model.DateBirth, "", new { @class = "text-danger" })
                </div>
            }

            <div class="container">
                <button class="btn btn-outline-warning" type="submit">Изменить</button>
                @Html.ActionLink("Отмена", "Account", "Auth", new { login = Model.Login }, new { @class = "btn btn-outline-secondary" })
            </div>
        }

    </div>
</div>
