@using System.Web.Optimization
@model EC.Web.Models.RegistrationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    @Styles.Render("~/Content/form")
</head>

<body class="text-center">
    @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new { @class = "form-signin", @novalidate = true, enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        </div>
        <div>
            @Html.TextBoxFor(user=>user.Login, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.Login),
                @type= "text",
                @required = true,
                @autofocus = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.Login, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.TextBoxFor(user=>user.Email, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.Email),
                @type= "email",
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.Email, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.TextBoxFor(user=>user.Password, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.Password),
                @type= "password",
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.Password, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.TextBoxFor(user=>user.ConfirmPassword, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.ConfirmPassword),
                @type= "password",
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.TextBoxFor(user=>user.FirstName, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.FirstName),
                @type= "text",
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.FirstName, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.TextBoxFor(user=>user.MiddleName, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.MiddleName),
                @type= "text",
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.MiddleName, "", new { @class = "text-danger" })
        </div>
        <br />

        <div>
            @Html.TextBoxFor(user=>user.LastName, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.LastName),
                @type= "text",
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.LastName, "", new { @class = "text-danger" })
        </div>
        <br />

        if ((bool)ViewBag.IsDoctor == false)
        {
            @Html.CheckBoxFor(user => user.IsDoctor, new { @type = "hidden", @value = "false" })

            <div>
                @Html.TextBoxFor(user=>user.PlaceWork, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.PlaceWork),
                    @type= "text",
                    @required = true
                })
            </div>
            <div>
                @Html.ValidationMessageFor(user => user.PlaceWork, "", new { @class = "text-danger" })
            </div>
            <br />

            <div>
                @Html.TextBoxFor(user=>user.DateBirth, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.DateBirth),
                    @type = "date",
                    @required = true
                })
            </div>
            <div>
                @Html.ValidationMessageFor(user => user.DateBirth, "", new { @class = "text-danger" })
            </div>
          <br />
        }
        else
        {
            @Html.CheckBoxFor(user => user.IsDoctor, new { @type = "hidden", @value = "true" })

            <div>
                @Html.TextBoxFor(user=>user.Position, new
                {
                    @class="form-control",
                    @placeholder = @Html.DisplayNameFor(user => user.Position),
                    @type= "text",
                    @required = true
                })
            </div>
            <div>
                @Html.ValidationMessageFor(user => user.Position, "", new { @class = "text-danger" })
            </div>
            <br />
        }

        <div>
            @Html.TextBoxFor(user=>user.Phone, new
            {
                @class="form-control",
                @placeholder = @Html.DisplayNameFor(user => user.Phone),
                @required = true
            })
        </div>
        <div>
            @Html.ValidationMessageFor(user => user.Phone, "", new { @class = "text-danger" })
        </div>

        <br />

        <div class="text-left">
            <div class="form-group">
                @Html.Label("", "Выберите фото", new { @for = "Photo" })
                @Html.TextBoxFor(model => model.Photo, new
                {
                    @class = "form-control-file",
                    @type = "file"
                })
            </div>
            <div>
                @Html.ValidationMessageFor(user => user.Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="text-danger">
            @Html.ValidationSummary(true)
        </div>

        <br />

        <div class="container">
            <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-lg btn-secondary btn-block" })
            @Html.ActionLink("Уже есть аккаунт? Войдите", "SignIn", "Auth")
            <p class="mt-5 mb-3 text-muted text-center">&copy; @DateTime.Now.Year</p>
        </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>