@model EC.Entities.Entities.Preparation

@{
    ViewBag.Title = "Подробнее о препарате " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="text-info text-center">Информация о препарате</h4>
    <div class="justify-content-center">
        <div class="col-sm-12 form-group row">
            @Html.LabelFor(m => m.Title, "Название препарата:", new { @class = "col-sm-6 col-form-label h3 text-right" })
            <div class="col-sm-6 col-form-label">
                @Html.DisplayTextFor(m => m.Title)
            </div>
        </div>
        <div class="col-sm-12 form-group row">
            @Html.LabelFor(m => m.Description, "Описание препарата:", new { @class = "col-sm-6 col-form-label h3 text-right" })
            <div class="col-sm-6 col-form-label">
                @Html.DisplayTextFor(m => m.Description)
            </div>
        </div>
        <div class="col-sm-12 form-group row">
            @Html.LabelFor(m => m.TimeUse, "Длительность применения препарата:", new { @class = "col-sm-6 col-form-label h3 text-right" })
            <div class="col-sm-6 col-form-label">
                @Html.DisplayTextFor(m => m.TimeUse), дней/дня
            </div>
        </div>
    </div>
    <div class="container text-center">
        @Html.ActionLink("Изменить", "UpdatePreparation", new { id = Model.Id }, new { @class = "btn btn-outline-warning" })
        <a class="btn btn-outline-danger my-2 my-sm-0" href="#" data-toggle="modal" data-target="#deletePreparation">Удалить</a>
        @Html.ActionLink("Все препараты", "GetAllPreparations", null, new { @class = "btn btn-outline-secondary" })
    </div>
</div>
@{Html.RenderPartial("DeletePreparation");}

