@model EC.Web.Models.EditPhotoModel

@{
    ViewBag.Title = "Изменение фото";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" align="center">
    <div class="col-md-5">
        <h4 class="text-center text-warning" style="padding-top: 10%">Изменение фото</h4>
        @using (Html.BeginForm("EditPhoto", "Photo", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserId)

            if (Model.UserPhoto == null)
            {
                <div class="form-group">
                    <img src="" class="rounded float-left img-thumbnail" alt="Нет фото" width="200" height="200" />
                </div>

                <div class="form-group">
                    <div class="text-left">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Image, new
                            {
                                @class = "form-control-file",
                                @type = "file"
                            })
                        </div>
                    </div>
                </div>
            }
            else
            {
                
                <div class="form-group">
                    <img src="@Url.Action("GetImage", "Photo", new{login=User.Identity.Name})" class="rounded float-left img-thumbnail" alt="Нет фото" width="200" height="200" />
                    <button type="button" class="close" data-toggle="modal" data-target="#deletePhoto">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @{Html.RenderPartial("DeletePhoto", Model.UserPhoto);}
                </div>

                <div class="form-group">
                    <div class="text-left">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Image, new
                            {
                                @class = "form-control-file",
                                @type = "file"
                            })
                        </div>
                    </div>
                </div>
            }
            <div class="container">
                <input type="submit" class="btn btn-outline-warning" value="Изменить" />
                @Html.ActionLink("Отмена", "Account", "Auth", new { login = User.Identity.Name }, new { @class = "btn btn-outline-secondary" })
            </div>
        }
    </div>

